<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MQTT APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-row>
      <ion-col>
        publishMessage
      </ion-col>
      <ion-col>
        <ion-button (click)="publishMessage()" expand="full">PublishMessage</ion-button>
      </ion-col>
    </ion-row>

  </ion-card>
  
</ion-content>
